.main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-left: 160px;
    justify-content: space-evenly;
    align-content: space-around;
    align-items: flex-start;
}

.slogan {
    font-size: 4.5em;
    color: white;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    margin: 0;
}

.slogan2 {
    font-size: 2em;
    color: white;
    font-family: 'roboto';
    font-weight: 200;
}

.hero {
    padding: 40px 10px 80px 10px;
    background-color: #404FE6;
    display: flex;
    flex-direction: row;
    text-align: left;
    position: relative;
}

.img-portada {
    margin: 1em;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 80%;
    height: auto;
}

.button-action {
    display: inline-block;
    text-decoration: none;
}

.button-action span {
    background-color: white;
    color: #6840E6;
    text-align: center;
    font-size: 24px;
    border-radius: 50px;
    width: 200px;
    height: 40px;
    padding: 10px;
    display: block;
    box-shadow:
        6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
        22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
        100px 100px 80px rgba(0, 0, 0, 0.07);
    transition: all 0.3s ease;
}

.button-action:hover span {
    color: #6840E6;
    transform: scale(1.1);
    box-shadow:
        6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
        22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
        100px 100px 80px rgba(0, 0, 0, 0.07);
}

.custom-shape-divider-bottom-1715466709 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1715466709 svg {
    position: relative;
    display: block;
    width: calc(115% + 1.3px);
    height: 141px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1715466709 .shape-fill {
    fill: #FFFFFF;
}

.custom-shape-divider-bottom-1715466709 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1715466709 svg {
    position: relative;
    display: block;
    width: calc(115% + 1.3px);
    height: 141px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1715466709 .shape-fill {
    fill: #FFFFFF;
}

@media (max-width: 768px) 
{ 
    .main 
    { padding: 0px;
        display: flex;
        flex-direction: column;
        text-align: center;
        flex-wrap: wrap;
        align-content: stretch;
        justify-content: space-evenly;
        align-items: center;
        padding-bottom: 4em;
    }

    .hero 
    { 
        flex-direction: column-reverse; 
        height: 100%;
    }

    .img-portada 
    { 
        width: 100%; 
        margin: auto;
        margin-bottom: 10px;
    }

    .button-action span 
    { 
        width: 100%; 
    }

    .slogan 
    { 
        width: 80%;
        font-size: 1.6em; 
    }

    .slogan2 
    { width: 80%;
        font-size: 1em; 
    }

    .button-action {
        margin-bottom: 15px;
        width: 60%;
    }
}