.main {
    width: 100%;
    height: 700px;
    background-image: url('../assets/images/fondo_landing_opaco.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.slogan {
    font-size: 120px;
    color: white;
    font-family: "Roboto Condensed", sans-serif;
    text-align: center;
    font-weight: 700;
}

.slogan2 {
    font-size: 50px;
    color: white;
    font-family: 'roboto';
    font-weight: 400;
    text-align: center;
}

.cards-home{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    justify-items: center;
    align-items: center;
}