@font-face {
  font-family: 'BankGothicBT-Medium';
  src: url('../../assets/fonts/BankGothicBT-Medium/Bank\ Gothic\ Medium\ BT.ttf') format('truetype');
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #ffffff;
    text-align: center;
    height: 10%;
}

.header__logo {
    left: 0px;
    text-align: left;
    margin-left: 0%;
    padding-left: 5%;
    color: #6840E6;
    font-size: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
} 

.header__logo img {
    width: 250px;
    height: auto;
}

.minor {
    font-size: 0.8em;
    color: #6840E6;
}
  .header__menu {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    gap: 15px; 
    text-align: center;
    font-family: 'Roboto Condensed';
    font-weight: bold;
    font-size: 1.5em;
    padding-right: 1%;
  }
  
  .header__menu-item {
    margin: 0; 
  }
  
  .header__menu-item a {
    text-decoration: none; 
    color: #6840E6;
    font-weight: bold;
    transition: 250ms ease-in-out;
  }
  
  .header__menu-item a:hover {
    font-size: 1.1em;
    transition-timing-function: linear;
    border-bottom: #6840E6 solid 4px;
  }

  .button-actionheader:hover {
    font-size: 20px;
    transition-timing-function: linear;
  }

  .button-actionheader {
    background-color: #6840E6;
    color:  white!important;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
    transition: 250ms ease-in-out;
  }

  .header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: #ffffff;
    border-bottom: #6840E6 3px solid;
}

.header.scrolled {
    background-color: #6840E6; /* Cambia el color de fondo al hacer sticky */
}
