.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    padding: 1%;
    width: 98%;
    background-color: transparent;
    color: #FFF;
    text-align: center;
}

.header__logo {
    width: 150px; 
    left: 0px;
    text-align: left;
    margin-left: 0%;
    padding-left: 0%;
} 
  .header__menu {
    display: flex; 
    list-style-type: none;
    gap: 15px; 
    text-align: center;
    font-family: 'Roboto Condensed';
    font-weight: bold;
    font-size: 1.5em;
  }
  
  .header__menu-item {
    margin: 0; 
  }
  
  .header__menu-item a {
    text-decoration: none; 
    color: white; 
    font-weight: bold;
    transition: 250ms ease-in-out;
  }
  
  .header__menu-item a:hover {
    font-size: 1.1em;
    transition-timing-function: linear;
    border-bottom: #6840E6 solid 4px;
  }