.App {
  text-align: left;
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, #414EE5 0%, #6841E6 100%);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
