@font-face {
  font-family: 'Roboto Condensed';
  font-style: bold;
  src: url('./assets/fonts/Roboto_Condensed/static/RobotoCondensed-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: bolder;
  src: url('./assets/fonts/Roboto_Condensed/static/RobotoCondensed-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('./assets/fonts/Roboto_Condensed/RobotoCondensed-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: medium;
  src: url('./assets/fonts/Roboto_Condensed/static/RobotoCondensed-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: medium;
  src: url('./assets/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: light;
  src: url('./assets/fonts/Roboto/Roboto-Light.ttf') format('truetype');
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: auto; 
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.App {
  text-align: center;
  width: 100%;
}
