.box {
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 1em;
}

.box h1{
    font-family: 'Roboto Condensed';
    font-style: light;
    font-weight: 200;
    font-size: 4em;
}

.box span{
    font-weight: 500;
}

.text-wrapper span {
    font-weight: 500;
}

.box .text-wrapper {
    font-family: "Roboto", Helvetica;
    font-style: light;
    font-size: 2em;
    font-weight: 300;
    letter-spacing: 0;
    line-height: normal;
    top: 0;
    white-space: nowrap;
}


.box h2{
    font-family: 'Roboto Condensed';
    font-style: light;
    font-weight: 200;
    font-size: 4em;
    margin-bottom: -3%;
}