.principles {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, #414EE5 0%, #6841E6 100%);
    color: azure;
    height: 900px;
}
.label {
    height: 74px;
  }
  
  .label .titulo-falopa {
    color: #ffffff;
    font-family: "Roboto Condensed-Light", Helvetica;
    font-size: 48px;
    font-weight: 400;
    height: 74px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    text-align: center;
    top: 0;
  }
  
  .label .text-wrapper {
    font-weight: 300;
  }
  
  .label .span {
    font-family: "Roboto Condensed-Bold", Helvetica;
    font-weight: 700;
  }

  .label .falopa {
    color: #ffffff;
    font-family: "Roboto-Light", Helvetica;
    font-size: 24px;
    font-weight: 400;
    height: 84px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    text-align: center;
    top: 0;
    width: 817px;
  }
  
  .label .text-wrapper {
    font-weight: 300;
  }