.label h1{
  font-family: "Roboto Condensed", Helvetica;
  font-style: light;
  font-size: 4em;
  font-weight: 300;
  margin-bottom: 1rem;
  padding-top: 80px;
  margin-top: -80px;
}

.label span{
  font-family: "Roboto Condensed", Helvetica;
  font-style: medium;
  font-weight: 500;
}

.label h2 {
  font-family: "Roboto Condensed", Helvetica;
  font-size: 2em;
  font-weight: 300;
}
.label {
  margin-top: 5rem;
  color: #111111;
}
.cards-home{
  display: grid;
  grid-template-columns: repeat(3, 0.4fr);
  grid-auto-rows: minmax(100px, auto);
  justify-items: center;
  align-items: center;
  padding-top: 3em;
}

.principles {
  margin-bottom: 5rem;
  background-color: white;
  color: #414EE5;
  padding: 50px 10px 100px 10px;
}